.cart{
    background-color: #1e1e1e !important;
  color: #66FCF1;
  border: 2px solid #66FCF1;
    transition: 0.3s;
}
.cart:hover{
  background-color: #66FCF1 !important;
  color: #1e1e1e;
  border: 2px solid #66FCF1;
}