<div class="container my-5">
    <h2>Products</h2>
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dttrigger" id="productsTable" class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>Images</th>
          <th>Name</th>
          <th>Price</th>
          <th>Cost</th>
          <th>Branch</th>
          <th>Quantity</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of sellerProducts let i = index">
          <td>{{ i+1 }}</td>
          <td>
            <div class="image-container m-1" (mouseenter)="startImageRotation(product)" (mouseleave)="stopImageRotation(product)">
              <img
                [src]="getCurrentImage(product)"
                alt="{{ product.name }}"
                class="product-image"
              />
            </div>
          </td>
          <td>{{ product.name }}</td>
          <td>{{ product.soldPrice | currency }}</td>
          <td>{{ product.costPrice | currency }}</td>
          <td>
            <div ngbDropdown class="d-inline-block">
              <button
                class="btn btn-dark btn-sm dropdown-toggle"
                id="branchDropdown{{ product._id }}"
                ngbDropdownToggle
              >
                {{ getSelectedBranchName(product) }}
              </button>
              <div ngbDropdownMenu [attr.aria-labelledby]="'branchDropdown' + product._id">
                <button
                  ngbDropdownItem
                  (click)="onBranchChange(product, 'all')"
                >
                  Main Stock
                </button>
                <button
                  ngbDropdownItem
                  *ngFor="let branch of product.branches"
                  (click)="onBranchChange(product, branch.branchId)"
                >
                  {{ branch.branchName }}
                </button>
              </div>
            </div>
          </td>
          <td>
            {{ getQuantity(product) }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>